// start style file:
@import "start-style.scss";
// fonts file:
@import "fonts.scss";

// variables:

// templettes:

// mixines:
body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

// HEADER:
.container {
  max-width: 1184px;
  margin: 0 auto;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 1 auto;
}

.hi {
  background-color: #445162;
  padding: 50px 0px 50px 0px;
  // .hi__row

  &__row {
    display: flex;
    justify-content: space-between;
  }

  // .hi__body

  &__body {
    color: #fff;
    padding: 0px 30px 0px 0px;
  }

  // .hi__title

  &__title {
    font-size: 60px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
    margin: 0px 0px 38px 0px;
  }

  // .hi__list

  // &__list {
  // }

  &__list li {
    // css requares to insert slash ("/") before setting a path of file:
    background: url("/img/icons/icon.png") 0 1px no-repeat;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
    font-size: 20px;
    line-height: 22px;
    padding: 0px 0px 0px 36px;
    margin: 0px 0px 15px 0px;
  }

  &__list li:last-child {
    margin: 0px 0px 0px 0px;
  }

  // .hi__image

  // &__image {
  // }
}

// PRE-MIDDLE:

.what {
  // .what_row

  &_row {
    display: flex;
    padding: 50px 0px 50px 0px;
  }

  // .what__image

  &__image {
    flex: 0 0 400px;
  }

  &__image img {
    max-width: 100%;
  }

  // .what__body

  &__body {
    flex: 1 1 auto;
    padding: 0px 0px 0px 38px;
  }

  // .what__text

  // &__text {
  // }

  &__text p {
    font-size: 16px;
    color: rgb(51, 51, 51);
    line-height: 1.5;
    margin: 0px 0px 25px 0px;
  }
  // here, it seems to me, it is necessary to reset the bottom margin in the last element:
  &__text p:last-child {
    margin: 0px 0px 0px 0px;
  }

  // .whhat__title
  &__title {
    margin: 0px 0px 33px 0px;
  }
}

// .container {
// }

.title {
  margin: 0px 0px 33px 0px;
  font-size: 30px;
  color: rgb(68, 81, 97);
  line-height: 36px;
}

// MIDDLE:

.columns {
  background: #f5f5f5;
  padding: 50px 0px 50-30px 0px;
  // .columns__title

  &__title {
    text-align: center;
    margin: 0px 0px 30px 0px;
  }

  // .columns__row

  &__row {
    display: flex;
    flex-wrap: wrap;
    margin: 0px -8px 0px -8px;
  }

  // .columns__column

  &__column {
    // prevent the column from increasing, allow it to decrease and set it to 50%,
    // so that the column becomes half of the flex container:
    flex: 0 1 50%;
    margin: 0px 0px 30px 0px;
    padding: 0px 8px 0px 8px;
    // the last elements will fail to be bottom margin at 0, as they may be dynamic when wrapped
    // therefore, in order to maintain the indentation from the end of the content block, you just need to reduce the indentation of the entire content block (.columns) by 30px.
  }

  // .columns__item

  // &__item {
  // }
}

// .container {
// }

// .title {
// }

.item {
  // .item__row

  &__row {
    display: flex;
  }

  // .item__image

  &__image {
    flex: 0 0 200px;
  }

  // .item__body

  &__body {
    flex: 1 1 auto;
    padding: 0px 0px 0px 15px;
  }

  // .item__title

  &__title {
    font-size: 24px;
    color: rgb(68, 81, 97);
    line-height: 1.25;
    margin: 0px 0px 13px 0px;
  }

  // .item__text

  &__text {
    font-size: 16px;
    color: rgb(51, 51, 51);
    line-height: 1.5;
  }
}

// PRE-FOOTER:
.vertical {
  // .vertical__title
  padding: 50px 0px 50px 0px;

  &__title {
    text-align: center;
    margin: 0px 0px 30px 0px;
    font-size: 30px;
    color: rgb(68, 81, 97);
    line-height: 1.2;
  }

  // .vertical__body

  &__body {
    max-width: 990px;
    margin: 0px auto;
  }

  // .vertical__row

  &__row {
    display: flex;
    margin: 0px -22.5px 0px -22.5px;
  }

  // .vertical__columns

  &__columns {
    // 1 - it is for the IE, which not much works with flex, for other brousers - 0
    // prevent for encreease, for decrease and % from width of the block. therefore we have 3 columns then 33,33%R
    flex: 0 1 33.33%;
    padding: 0px 22.5px 0px 22.5px;
    display: flex;
  }

  // .vertical__column_1 {
  //   // order: 3;
  //   // align-self: center;
  // }

  // .vertical__column_2 {
  //   // order: 2;
  // }

  // .vertical__column_3 {
  //   // order: 1;
  //   // align-self: flex-end;
  // }

  // .vertical__item

  &__item {
    background: #445162;
    border-radius: 5px;
    color: #fff;
    border: 2px solid #445162;
    padding: 0px 0px 20px 0px;
    display: flex;
    flex-direction: column;
  }

  // .vertical__subtitle

  &__subtitle {
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
    line-height: 1.25;
    padding: 18px 0px 12px 0px;
  }

  // .vertical__label

  &__label {
    background: #fff;
    color: #445162;
    text-align: center;
    font-size: 40px;
    line-height: 0.75;
    padding: 20px 0px 20px 0px;
  }

  // .vertical__text

  &__text {
    padding: 20px 23px 20px 20px;
    font-size: 14px;
    line-height: 1.714;
    flex: 1 1 auto;
  }

  &__text p {
    margin: 0px 0px 15px 0px;
  }

  &__text p:last-child {
    margin: 0px 0px 0px 0px;
  }

  // .vertical__button

  &__button {
    display: block;
    background: #fff;
    font-size: 18px;
    color: rgb(68, 81, 97);
    font-weight: bold;
    line-height: 40px;
    text-align: center;
    height: 40px;
    border-radius: 5px;
    margin: 0px 20px 0px 20px;
  }
}

// FOOTER:
// .container {
// }

.footer {
  background-color: #f5f5f5;

  // .footer__row

  &__row {
    display: flex;
    height: 65px;
    justify-content: center;
    align-items: center;
    color: rgb(68, 81, 98);
    font-size: 12px;
    letter-spacing: 0.3px;
  }

  // .footer__text

  // &__text {
  // }
}
